<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Swagger.API.Tests" >
   <test name="Tests" >
       <classes> 
          <class name="swagger.UI.Swagger.API.Tests.TestGetRequest"/>
          <class name="swagger.UI.Swagger.API.Tests.TestPostRequest"/>
       </classes>
   </test>
 </suite>